ul {list-style: none;color: brown;font-weight: 550; font-size: 15px; position:absolute;
    top:30%;
    left:30%;  }
ul {background-color: rgb(253, 255, 122);
width: 200px; padding-top: 10px;
padding-bottom: 10px; padding-left: 10px;padding-right: 10px;
border-radius: 10px; border: thin solid black; box-shadow: 5px 5px;}
body {margin-top: 50px;}
li {margin-bottom: 0.5em;}
